In [4]:
import pandas as pd

# Load the data
data = pd.read_csv('./social_media_data .csv')

# Display the first 5 rows
data.head(10)

         date   platform post_type   likes  shares  comments   views
0  2023-05-24    Twitter     image   868.0   238.0     352.0  8836.0
1  2023-02-23    Twitter     image   944.0   610.0     146.0  5554.0
2  2023-03-18  Instagram     image  1067.0   858.0     365.0  4018.0
3  2023-06-12    Twitter      text   780.0   427.0     100.0  6999.0
4  2023-02-03  Instagram      text   836.0   893.0     443.0  5802.0
5  2022-12-28   Facebook      text  2019.0   763.0     445.0  9926.0
6  2022-12-22  Instagram      text  2163.0   130.0     465.0  5323.0
7  2022-11-18    Twitter     image   912.0   357.0     191.0  8977.0
8  2023-01-09    Twitter      text  1746.0     NaN     356.0     NaN
9  2023-03-26    Twitter     video   515.0   216.0     380.0  7090.0

In [2]:
# Check for missing values
missing_values = data.isnull().sum()

# Basic statistics
basic_stats = data.describe()

missing_values, basic_stats

(date          0
 platform      0
 post_type     0
 likes         8
 shares        8
 comments      8
 views        10
 dtype: int64,
              likes       shares     comments        views
 count  1992.000000  1992.000000  1992.000000  1990.000000
 mean   1289.795181   497.286647   305.847892  6966.834673
 std     525.123426   229.809511   114.761598  1724.795879
 min     400.000000   100.000000   100.000000  4000.000000
 25%     820.000000   300.000000   206.000000  5507.000000
 50%    1292.000000   491.000000   310.500000  6947.000000
 75%    1753.250000   688.000000   407.000000  8398.250000
 max    2200.000000   900.000000   500.000000  9998.000000)

In [3]:
# Replace missing values with 0
data_filled = data.fillna(0)

# Verify that there are no more missing values
missing_values_filled = data_filled.isnull().sum()
missing_values_filled

date         0
platform     0
post_type    0
likes        0
shares       0
comments     0
views        0
dtype: int64

In [5]:
# Filter data for video posts
data_videos = data_filled[data_filled['post_type'] == 'video']

# Calculate total likes, shares, comments, and views
total_likes = data_videos['likes'].sum()
total_shares = data_videos['shares'].sum()
total_comments = data_videos['comments'].sum()
total_views = data_videos['views'].sum()

total_likes, total_shares, total_comments, total_views

(816170.0, 311040.0, 194139.0, 4464731.0)

In [6]:
# Calculate total engagement for each platform
data_filled['engagement'] = data_filled['likes'] + data_filled['shares'] + data_filled['comments']
platform_engagement = data_filled.groupby('platform')['engagement'].sum()

# Identify the platform with the highest engagement
max_engagement_platform = platform_engagement.idxmax()
max_engagement_value = platform_engagement.max()

max_engagement_platform, max_engagement_value

('Instagram', 1420579.0)

In [8]:
# Calculate average metrics per post for each platform
average_metrics = data_filled.groupby('platform').agg({'likes': 'mean', 'shares': 'mean', 'comments': 'mean', 'views': 'mean'})
average_metrics

                           likes      shares    comments        views
platform
Facebook             1279.760697  511.515055  310.667195  6939.965135
Instagram            1301.985251  494.438053  298.825959  6875.318584
NonExistingPlatform  1150.166667  515.833333  285.500000  6729.166667
Twitter              1273.132847  481.029197  304.964964  6982.543066

In [9]:
# Calculate the total number of each type of post on each platform
total_posts = data_filled.groupby(['platform', 'post_type']).size().unstack(fill_value=0)
total_posts

post_type            image  text  video
platform
Facebook               218   204    209
Instagram              267   203    208
NonExistingPlatform      1     3      2
Twitter                249   219    217

In [10]:
# Calculate average engagement for each type of post
engagement_metrics = data_filled.groupby('post_type').agg({'likes': 'mean', 'shares': 'mean', 'comments': 'mean', 'views': 'mean'})
engagement_metrics['total_engagement'] = engagement_metrics.sum(axis=1)
engagement_metrics.sort_values(by='total_engagement', ascending=False)

                 likes      shares    comments        views  total_engagement
post_type
video      1283.286164  489.056604  305.250000  7020.017296       9097.610063
text       1310.957075  504.486486  300.941176  6934.173291       9050.558029
image      1263.278912  492.834014  307.235374  6853.979592       8917.327891

In [11]:
# Convert the 'date' column to datetime format
data_filled['date'] = pd.to_datetime(data_filled['date'])

# Extract the quarter from the date
data_filled['quarter'] = data_filled['date'].dt.to_period('Q')

# Calculate total engagement for each quarter
data_filled['total_engagement'] = data_filled[['likes', 'shares', 'comments', 'views']].sum(axis=1)
total_engagement_per_quarter = data_filled.groupby('quarter')['total_engagement'].sum()
total_engagement_per_quarter

quarter
2022Q4    4112722.0
2023Q1    4558806.0
2023Q2    4261245.0
2023Q3    4274628.0
2023Q4     825716.0
Freq: Q-DEC, Name: total_engagement, dtype: float64